Automaçao Web 
selenium é uma biblioteca que permite a python controlar o navegador
baixar o webdriver que selenium precisa 
chrome = chromedriver
firefox = geckodriver

pyautogui vs selenium
o primeiro permite vc control o mouse, teclado e tela do cumputador
o segundo permite vc rodar o codigo em segundo plano, e nao precisa esperar para as coisas acontecerem porque ele controla o navegador, sabe quando carregou ou se ainda nao e nao tem problemas com carater especial

from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.headless = True
navegador = webdriver.Chrome(options=chrome_options)
usar aspas simples para passar o codigo xpath

formatar os nro depois de terminar o codigo, só no final

In [27]:
# passo 1: pegar a cotaçao do dolar 
#  -abrir navegador - entrar en google - pesquisar a cotaçao do dolar no google - pegar a cotaçao do dolar do google
# para pegar o xpath = inspeccionar + selector + selecionar a caixa de texto do google + boton direito encima do texto em azul + copy > copy Xpath
# .click para clickar, .get get_attribute para pegar info, .send_keys para escrever 
from selenium import webdriver #permite criar um navegador
from selenium.webdriver.common.keys import Keys #permite escrever no navegador
from selenium.webdriver.common.by import By #permite selecionar itens no navegador

navegador = webdriver.Chrome()
navegador .get("https://google.com/")
navegador.find_element("xpath", '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotaçao dolar")
navegador.find_element("xpath", '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_dolar = navegador.find_element("xpath",'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_dolar)

# passo 2: pegar a cotaçao do euro

navegador = webdriver.Chrome()
navegador .get("https://google.com/")
navegador.find_element("xpath", '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotaçao euro")
navegador.find_element("xpath", '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_euro = navegador.find_element("xpath",'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_euro)
                                                                                              
# passo 3: pegar a cotaçao do ouro
#como python só reconhece as casas decimais por o ponto, os nros com virgula precisamos usar replace = para mudar , por .
#como as cotaçoes vem de um site o python le como texto, tambem precisamos mudar isso

navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element("xpath", '//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace("," , ".")
print(cotacao_ouro)

navegador.quit() #para fechar o navegador

5.1166
4.9885059190000005
268.51

In [28]:
# passo 4: atualizar a base dos preços (atualizando o preço de venda e o de compra)

import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

# tabela.loc[nro da linha, nome da coluna] = float ou int(cotacao_dolar) seria a forma de pegar uma linha de uma coluna(loc de localizar)

tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)

tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)

tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.116600,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,4.988506,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.116600,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.116600,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,4.988506,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.116600,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,268.510000,7000.00,1.15,8050.000

In [29]:
# tabela.loc[nro da linha, nome da coluna] = float ou int(cotacao_dolar) seria a forma de pegar uma linha de uma coluna(loc de localizar)
#tabela.loc[tabela["Moeda"] == "Dólar", : ] = float(cotacao_dolar) esses dos pontos quer dizer todas as colunas
# .map("R${:.2f}.format") codigo para formatar os nros
# -atualizar: - coluna de cotaçao 

tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)

tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)

tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)

# - coluna preço de compra ( preço original * cotaçao ) 

tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]

# - coluna preço de venda ( preço de compra * margem )

tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.116600,5116.548834,1.40,7163.168368
1,Carro Renault,4500.00,Euro,4.988506,22448.276636,2.00,44896.553271
2,Notebook Dell,899.99,Dólar,5.116600,4604.888834,1.70,7828.311018
3,IPhone,799.00,Dólar,5.116600,4088.163400,1.70,6949.877780
4,Carro Fiat,3000.00,Euro,4.988506,14965.517757,1.90,28434.483738
5,Celular Xiaomi,480.48,Dólar,5.116600,2458.423968,2.00,4916.847936
6,Joia 20g,20.00,Ouro,268.510000,5370.200000,1.15,6175.730000

In [30]:
# passo 5: exportar a base de preços atualizado
#tabela.to_excel, sql, csv, etc para exportar index para a coluna de nros nao ir no banco de dados
#tabela["Cotação"] = tabela["Cotação"].map("R${:.2f}.format")

tabela.to_excel("Produtos Atualizado.xlsx", index=False)

In [31]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\daysi\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: trio~=0.17 in c:\users\daysi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\daysi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\daysi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\daysi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: sniffio in c:\users\daysi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\daysi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\daysi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\daysi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\daysi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\daysi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\daysi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0)
Requirement already satisfied: outcome in c:\users\daysi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\daysi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\daysi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\daysi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\daysi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)